.NavbarItems {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.NavbarItems ul {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    list-style: none;
    margin-left: 0px;
}

.NavbarItems ul li {
   display: flex;
   text-align:center; 
}

.NavbarItems ul li a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 17px;
}

.NavbarItems li a:hover {
    color: rgb(73, 214, 160);
    text-align:center;
}

.navBar {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
    height: auto;
    margin-top: 20px;
}